.about-us-container {
  width: 100%;
  height: auto;
  background-color: rgba(251, 251, 236, 0.507);
}
.about-title {
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  margin: 0;
  padding-top: 50px;
}
.about-h2 {
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
}
.about-p {
  font-size: 1.1rem;
}
.about-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 90px;
}
.text-box {
  text-align: center;
}
.text-box2 {
  margin-top: 80px;
  text-align: center;
}
.about-img {
  width: 600px;
}
.about-img-box {
  width: 40%;
}
.expand-box {
  background-color: rgba(208, 208, 208, 0.48);
  margin-top: 100px;
}
.expand {
  width: 80%;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}
.arrow-img {
  width: 30px;
}
.faq {
  text-align: center;
  margin: 0;
  padding-top: 20px;
}
