.category-container {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(216, 216, 216, 0.628);
}

.category-container1 {
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.category-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  width: 200px;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
  background-color: white;
  transition: ease 0.3s;
}
.category-box:hover {
  background-color: rgb(185, 185, 185);
}
.show-food-box {
  cursor: pointer;
}
.cuisine-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 50px;
}
.category-title {
  text-align: center;
  padding-top: 40px;
  font-size: 40px;
  margin-top: 0;
}
.food-name {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
