.home-container {
  width: 100%;
  height: auto;
  background-color: rgba(216, 216, 216, 0.628);
  /* background-color: rgba(224, 224, 224, 0.502); */
}
.hero {
  width: 100%;
  height: 600px;
  background-image: url("/pasta.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: end;
}
.hero-text {
  color: white;
  font-size: 70px;
  padding-bottom: 70px;
}
.quick-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.easy-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.cold-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
}
.drink-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;
  padding-bottom: 80px;
}
