.save-container {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(251, 251, 236, 0.507);
}
.save-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-top: 50px;
}
.h1-save {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 50px;
}
.btn-box{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.del-btn{
  height: 2rem;
  width: 8rem;
  border-radius: 20px;
  border: 1px solid black;
  background-color: rgba(255, 64, 64, 0.755);
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
  font-weight:bolder;
}
.save-wrapper{
  display: flex;
  justify-content: space-around;
  
}
.link-box{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}
.save-link{
  text-decoration: none;
  border-radius: 15px;
  padding: 10px 20px;
  color: black;
  background-color: rgb(212, 212, 212);
}
.save-title{
  margin: 0;
  text-align: center;
  padding-top: 50px;
}
.save-text-box{
  padding-top: 100px;
}
.save-img{
  width: 600px;
}
.save-text{
  font-size: 1.2rem;
}
.navigate-btn{
  height: 3rem;
    width: 15rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(212, 212, 212);
    font-size: 17px;
    cursor: pointer;
    transition: ease 0.2s;
}